*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.allApps{
    display: grid;
    padding:2em;
    width: 90vw;
    margin: 0 auto;
    padding-top: 2em;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 0.1vh;
    text-align: center;
    align-items: center;
}
.appIcon{
    text-align: center;
    width:100%;
}

.appIcon p{
    font-size: 2.5vw;
}

.appIcon img{
    max-width: 100%;
    height: 22vw;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */  
    display: none;
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    color: white;
  }

  .overlay .closebtn {
    position: absolute;
    text-decoration: none;

    font-size: 50px;
    color: white;
    z-index: 2;
  }


nav{
    display: flex;
    align-items: center;
    min-height: 8vh;
    z-index: 999;
    /* background-color: grey; */
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px grey;
}

.logo{
    color: rgb(224, 224, 224);
}

.nav-links {
    display: none;
    /* width: 80%;
    background-color: red; */
}

.nav-links a{
    color: white;
    /* color: rgb(255, 205, 0); */
    text-shadow: black -1px 5px 7px;
    text-decoration: none;
    line-height: 1.5vw;
}

.nav-links a:hover{
    /* color: white; */
  color: rgb(255, 205, 0);
}

.nav-links li{
    list-style: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color:black;
    margin: 5px;

}
.burger{
    display: block;
    cursor: pointer;
  
}
.logoImg{
    width: 70px;
    height: auto;
    margin-top: auto;
    margin-left: auto;
}

    .nav-wrapper{
        overflow-x: hidden;
        display: block;
        position: fixed;
        z-index: 99;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 5px grey;
    }

    .nav-links{
        display: flex;
        position: fixed;
        left: 0px;
        min-height: 100vh;
        top: 0vh;
        z-index: 999;
        /* background-color: rgb(0, 48, 135); */
        background-color: rgb(30, 72, 150);
        flex-direction: column;
        align-items: center;
        width: 159px;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        /* padding-top: 20px; */
    }

.links-inner{
   
    margin-bottom: 1em;
}
.links-inner li{
   margin-bottom: 0.5vh;
}
#closeBtn{
    font-size: 32px;
    display: block;
    margin-right: 40px;
    margin-left: auto;
    cursor: pointer;
    /* color: rgb(255, 205, 0); */
    color: white;
}
#closeBtn:hover{
    color: rgb(255, 205, 0);
}
#appCloseBtn{
  font-size: 32px;
  display: block;
  margin-right: 40px;
  margin-left: auto;
  cursor: pointer;
  /* color: rgb(255, 205, 0); */
  color: white;
}
#appCloseBtn:hover{
  color: rgb(255, 205, 0);
}
.nav-active{
    display: flex;
    transform: translateX(0%);
}

.overlay-active{
  display: initial;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overlay-active::-webkit-scrollbar {
    display: none;
  }
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-active{
    display: none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-active{
    display: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .overlay{
    display: none;
  }
  .nav-active{
    display: flex;
}


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .overlay{
  display: none;

  }
  .nav-active{
    display: flex;
    }

}

